.add-plan {
  position: relative;

  margin-top: -36px;

  background-color: #d4d9eb;
  border-radius: 30px 30px 0 0;
}

.add-plan__container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.add-plan__heading-wrapper {
  position: relative;
}

.add-plan__heading {
  margin-top: 0;
  margin-bottom: 29px;

  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  font-family: @site-font-family;
  color: #1d2e5b;
}

.add-plan__steps-markers {
  top: 9px;
  right: 18px;
}

@media (min-width: @tablet-width) {
  .add-plan__container {
    max-width: 768px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 46px;
  }

  .add-plan__heading {
    margin-bottom: 49px;

    font-size: 36px;
    line-height: 50px;
  }

  .add-plan__steps-markers {
    top: 20px;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .add-plan__container {
    max-width: 1440px;
  }

  .add-plan__steps-markers {
    top: 185px;
    right: 296px;
  }
}
