.business-modal {
  position: absolute;
  top: 3690px;
  z-index: 10;

  display: none;
  width: calc(100% - 50px);
  padding-top: 33px;
  margin-left: 25px;
  margin-right: 25px;

  background-color: #ffffff;
  border-radius: 20px;
}

.business-modal__heading {
  .homepage-heading();

  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 29px;
}

.business-modal__prices {
  margin-left: 25px;
  margin-right: 25px;
  max-width: 161px;
}

.business-modal__btn {
  width: 100%;
  padding-top: 19px;
  padding-bottom: 16px;
  margin-top: 33px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: @site-font-family;
  color: #1d2e5b;
  text-transform: uppercase;

  background-color: #f3f4f8;
  border: 0;
  border-radius: 0 0 20px 20px;
}
