.business-modal {
  padding-top: 33px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: #ffffff;
}

.business-modal__heading {
  .hompage-heading();
}

.business-prices__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: @site-font-family;
  color: #444444;
}

.business-modal__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: @site-font-family;
  color: #1d2e5b;
}
