.calendar__month-wrapper {
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 17px;
  padding-top: 12px;
  padding-bottom: 10px;

  border-top: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;
}

.calendar__selected-dates {
  display: none;
}

.calendar__month {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  font-family: @site-font-family;
  color: #1d2e5b;
  text-align: center;
}

.calendar__month-nav {
  position: absolute;

  display: flex;

  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.calendar__month-nav--prev {
  left: 0;
}

.calendar__month-nav--next {
  right: 0;
}

.calendar__table {
  width: 221px;
  margin: auto;
  border-collapse: collapse;
}

.calendar__day {
  position: relative;

  padding-top: 7px;
  padding-bottom: 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: @site-font-family;
  color: rgba(68, 68, 68, 0.3);
  text-align: center;

  border: 1px solid #cbced9;

  &--header {
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 4px;

    color: #444444;

    border: none;
  }

  &--weekend {
    color: #ff5c23;
  }

  &:hover {
    color: #ffffff;

    background-color: #1d2e5b;
  }

  &--header:hover {
    color: #444444;
    background-color: transparent;
  }

  &--weekend:hover {
    color: #ff5c23;
  }

  &:hover::before {
    content: "";

    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;

    display: block;
    width: 33px;
    height: 32px;

    border: 2px solid #ff5c23;
  }

  &--header:hover::before {
    content: unset;
  }

  &--active {
    color: #ffffff;

    background-color: #101d41;
  }

  &--inactive {
    color: #444444;

    background-color: #edeff6;
  }

  &-expanded {
    display: none;
  }
}

.calendar__day-month-name {
  display: none;
}

@media (min-width: @tablet-width) {
  .calendar__day {
    padding-top: 26px;
    padding-bottom: 24px;
    padding-left: 28px;
    padding-right: 22px;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;

    &--header {
      padding-left: 15px;
      padding-right: 10px;
      padding-bottom: 2px;

      font-size: 18px;
      line-height: 30px;
      letter-spacing: 1.8px;
    }

    &-expanded {
      display: inline;
      margin-left: -7px;
    }

    &:hover::before {
      top: -2px;
      left: -2px;

      width: 78px;
      height: 72px;
      border: 4px solid #ff5c23;
    }
  }

  .calendar__month {
    font-size: 36px;
    line-height: unset;
  }

  .calendar__month-wrapper {
    margin-bottom: 6px;
    padding-top: 26px;
    padding-bottom: 18px;
  }

  .calendar__month-nav-btn {
    height: 28px;
    width: 15px;
  }

  .calendar__month-nav {
    &--prev {
      left: 18px;
      top: 29px;
    }

    &--next {
      right: 15px;
      top: 29px;
    }
  }
}

@media (min-width: @desktop-width) {
  .calendar__table {
    width: auto;
  }

  .calendar__day {
    position: relative;

    width: 144px;
    height: 71px;

    //padding-top: 7px;
    //padding-right: 104px;
    //padding-bottom: 33px;
    //padding-left: 16px;
    padding: 0;

    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.8px;

    &--header {
      height: 49px;
      //padding-top: 6px;
      //padding-left: 13px;
      //padding-bottom: 13px;
      padding: 0;
    }
  }

  .calendar__day-value {
    position: absolute;
    top: 7px;
    left: 15px;
  }

  .calendar__day--header .calendar__day-value {
    top: 6px;
    left: 16px;
  }

  .calendar__day-expanded {
    position: absolute;
    top: 6px;
    left: 27px;

    display: block;
    margin: 0;
  }

  .calendar__day--active-first::after {
    content: "Заезд";

    position: absolute;
    top: 33px;
    left: 15px;
  }

  .calendar__day--active-last::after {
    content: "Выезд";

    position: absolute;
    top: 33px;
    left: 15px;
  }

  .calendar__month-nav-btn {
    height: 34px;
    width: 18px;
  }

  .calendar__month-nav--prev {
    left: 0;
    top: 27px;
  }

  .calendar__month-nav--next {
    right: 1px;
    top: 27px;
  }

  .calendar__day-month-name {
    position: absolute;
    top: 7px;
    left: 32px;

    display: block;
  }

  .calendar__day:hover::before {
    top: -3px;
    left: -4px;
    z-index: 1;

    width: 148px;
    height: 76px;
  }
}
