.catalog-item {
  padding-bottom: 22px;

  background-color: #ffffff;
  border-radius: 20px;
}

.catalog-item__heading-wrapper {
  display: flex;
}

.catalog-item__img-wrapper {
  margin-top: 15px;
  margin-left: 18px;
}

.catalog-item__img {
  border-radius: 50%;
}

.catalog-item__name-wrapper {
  margin-left: 16px;
}

.catalog-item__name {
  position: relative;

  max-width: 102px;
  margin-top: 15px;

  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  font-family: @site-font-family;
  color: #1d2e5b;
}

.catalog-item__name::after {
  content: "";

  position: absolute;
  top: 8px;
  right: -42px;

  display: block;
  width: 6px;
  height: 6px;

  border-radius: 50%;
}

.catalog-item--offline .catalog-item__name::after {
  background-color: #f97676;
}

.catalog-item--online .catalog-item__name::after {
  background-color: #81e31e;
}

.catalog-item__likes-wrapper {
  position: relative;
}

.catalog-item__likes {
  position: absolute;
  left: -37px;
  top: -7px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  width: 31px;
  height: 31px;

  background-color: #f9eaea;
  border: none;
  border-radius: 50%;

  &--active .catalog-item__heart {
    display: none;
  }

  &--active .catalog-item__heart--active {
    display: block;
  }
}

.catalog-item__heart {
  fill: #192144;
  opacity: 0.3;

  &--active {
    display: none;

    fill: #f02323;
  }
}

.catalog-item__likes-count {
  margin-top: -11px;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  font-family: @site-font-family;
  color: #161c35;
}

.catalog-item__tags {
  margin-left: 26px;
  margin-bottom: 11px;
  margin-top: 3px;
}

.catalog-item__countries {
  min-height: 63px;
  margin-left: 25px;
  margin-top: 17px;
}

.catalog-item:nth-child(3) .catalog-item__countries {
  min-height: 87px;
}

.catalog-item__countries-heading {
  position: relative;

  margin-left: 26px;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #444444;
  text-transform: lowercase;
}

.catalog-item__countries-heading::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -26px;
  width: 14px;
  display: block;
  height: 1px;
  background-color: #edeff6;
}

.catalog-item__countries-heading::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 106px;
  width: 138px;
  display: block;
  height: 1px;
  background-color: #edeff6;
}

.catalog-item__skills {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 1px;
  padding-right: 23px;
}

.catalog-item__transport {
  position: relative;

  margin-left: 25px;
}

.catalog-item__transport::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -26px;

  width: 14px;
  display: block;
  height: 1px;

  background-color: #edeff6;
}

.catalog-item__transport::after {
  content: "";

  position: absolute;
  top: 9px;
  left: 80px;

  width: 90px;
  display: block;
  height: 1px;

  background-color: #edeff6;
}

.catalog-item__transport-list {
  margin-top: 14px;
  margin-left: -1px;
}

.catalog-item__transport-heading {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #444444;
  text-transform: lowercase;
}

.catalog-item__level {
  position: relative;
}

.catalog-item__level::after {
  content: "";

  position: absolute;
  top: 9px;
  right: -23px;

  width: 11px;
  display: block;
  height: 1px;

  background-color: #edeff6;
}

.catalog-item__level-heading {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #444444;
  text-transform: lowercase;
}

.catalog-item__btn {
  display: block;
  width: calc(100% - 40px);
  margin: auto;
  padding-top: 7px;
  padding-bottom: 3px;

  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  font-family: @site-font-family;
  text-transform: uppercase;
  color: #161c35;
  text-align: center;

  background-color: #ffd74b;
  border-radius: 20px;
}

@media (min-width: @tablet-width) {
  .catalog-item {
    position: relative;

    width: 688px;
  }

  .catalog-item__img {
    width: 190px;
    height: 190px;

    border-radius: 20px;
  }

  .catalog-item__name-wrapper {
    margin-left: 33px;
  }

  .catalog-item__likes-wrapper {
    margin-top: 149px;
    margin-left: 196px;
  }

  .catalog-item__tags {
    position: absolute;
    top: 83px;
    left: 259px;

    margin: 0;
  }

  .catalog-item__skills {
    position: absolute;
    top: 37px;
    right: 25px;

    flex-direction: column;
    margin: 0;
  }

  .catalog-item__transport {
    margin: 0;
  }

  .catalog-item__transport-heading {
    display: none;
  }

  .catalog-item__level-heading {
    display: none;
  }

  .catalog-item__countries {
    margin-left: 36px;
    margin-bottom: 26px;
  }

  .catalog-item__btn {
    position: absolute;
    top: 174px;
    left: 255px;

    width: 148px;
  }

  .catalog-item__img-wrapper {
    margin-left: 35px;
    margin-top: 35px;
  }

  .catalog-item__countries-heading {
    margin-left: 83px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-item {
    width: 950px;
    padding-bottom: 0;
  }

  .catalog-item__img {
    width: 285px;
    height: 285px;
  }

  .catalog-item__tags {
    left: 314px;
  }

  .catalog-item__img-wrapper {
    margin: 0;
  }

  .catalog-item__btn {
    left: 310px;
  }

  .catalog-item__skills {
    top: auto;
    right: 44px;
    bottom: 61px;

    flex-direction: row;
  }

  .catalog-item__countries-heading {
    display: none;
  }

  .catalog-item__countries {
    position: absolute;
    top: 54px;
    left: 657px;

    margin: 0;
  }
}
