.companion__img {
  border-radius: 10px 10px 0 0;
}

.companion__info {
  margin-top: -5px;
  border-radius: 0 0 10px 10px;
}

.companion__name {
  .remove-indentation();

  position: relative;

  display: flex;
  justify-content: center;
  margin-top: -1px;
  margin-left: -16px;
  padding-bottom: 15px;

  font-weight: 600;
  font-size: 21px;
  line-height: 21px;
  font-family: @site-font-family;
  text-align: center;
  color: #1d2e5b;
}

.companion--online .companion__name::before {
  content: "";

  display: block;
  width: 5px;
  height: 5px;
  margin-top: 7px;
  margin-right: 11px;

  background-color: #81e31e;
  border-radius: 50%;
}

.companion--offline .companion__name::before {
  content: "";

  display: block;
  width: 5px;
  height: 5px;
  margin-top: 7px;
  margin-right: 11px;

  background-color: #f97676;
  border-radius: 50%;
}

.companion__tags {
  padding-bottom: 15px;
}
