.companions {
  padding-top: 102px;
  padding-bottom: 30px;

  background-color: #192144;

  border-radius: 0 0 30px 30px;
}

.companions::before {
  content: "";

  position: absolute;
  top: 69px;
  left: 50%;

  display: block;
  width: 132px;
  height: 132px;
  margin-left: -179px;

  background-color: #141b3b;
  border-radius: 20px;
}

.companions::after {
  content: "";

  position: absolute;
  top: 69px;
  right: 50%;
  z-index: -1;

  display: block;
  width: 143px;
  height: 143px;
  margin-right: -135px;

  background-image: url("../img/smolov-back-desktop@1x.png");
}

.companions__container {
  position: relative;

  max-width: 320px;
  margin: 0 auto;
}

.companions__heading {
  padding-left: 49px;

  .homepage-heading();
}

.companions__text-wrapper {
  margin-bottom: 56px;
}

.companions__text {
  margin-top: 19px;
  padding-left: 49px;
  padding-right: 50px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #ffffff;

  &--highlighted {
    margin-top: 21px;

    font-weight: 600;
  }
}

.companions__list::before {
  content: "";

  position: absolute;
  top: 239px;
  left: 50%;
  z-index: -1;

  display: block;
  width: 71px;
  height: 71px;
  margin-left: -170px;

  background-image: url("../img/rogovaya-back-mobile@1x.png");
}

.companions__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 23px;
  padding-bottom: 21px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #1d2e5b;

  background-color: #ffd74b;
  border-radius: 10px;
}

.companions__btn-arrow {
  margin-top: 1px;
  margin-right: -1px;

  fill: #1d2e5b;
}

@media (min-width: @tablet-width) {
  .companions__container {
    max-width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .companions__heading {
    padding-left: 0;
  }

  .companions__text {
    padding-left: 0;
    padding-right: 0;

    &--highlighted {
      max-width: 258px;
    }
  }

  .companions__text-wrapper {
    max-width: 423px;
  }

  .companions__btn {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .companions__container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
  }

  .companions__text-wrapper {
    width: 432px;
  }

  .companions__btn {
    position: absolute;
    left: 73px;
    bottom: 134px;

    width: 280px;
  }
}
