.companion:nth-child(2) .companion__tags {
  padding-left: 14px;
}

.companion__img {
  border-radius: 10px 10px 0 0;
}

.companion__info {
  margin-top: -5px;
  border-radius: 0 0 10px 10px;
}

.companion__name {
  .remove-indentation();

  position: relative;

  display: flex;
  justify-content: center;
  margin-top: -1px;
  margin-left: -16px;
  padding-bottom: 15px;

  font-weight: 600;
  font-size: 21px;
  line-height: 21px;
  font-family: @site-font-family;
  text-align: center;
  color: #1d2e5b;
}

.companion--online .companion__name::before {
  content: "";

  display: block;
  width: 5px;
  height: 5px;
  margin-top: 7px;
  margin-right: 11px;

  background-color: #81e31e;
  border-radius: 50%;
}

.companion--offline .companion__name::before {
  content: "";

  display: block;
  width: 5px;
  height: 5px;
  margin-top: 7px;
  margin-right: 11px;

  background-color: #f97676;
  border-radius: 50%;
}

.companion__tags {
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .companion:nth-child(2) .companion__tags {
    padding-left: 0;
  }

  .companion__img {
    width: 285px;
    height: 285px;

    border-radius: 20px 20px 0 0;
  }

  .companion__name {
    margin-left: -20px;
    padding-top: 5px;
    padding-bottom: 21px;

    font-size: 24px;
    line-height: 24px;
  }

  .companion--offline .companion__name::before {
    width: 7px;
    height: 7px;

    margin-right: 14px;
    margin-top: 8px;
  }

  .companion--online .companion__name::before {
    width: 7px;
    height: 7px;

    margin-right: 14px;
    margin-top: 8px;
  }
}

@media (min-width: @desktop-width) {
  .companion__name {
    padding-top: 7px;
    padding-bottom: 19px;
  }
}
