.companion-transport {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 120px;
  margin: 0 auto;
}

.companion-transport__item--inactive svg {
  fill: #d9d9d9;
}

.companion-transport__item--active svg {
  fill: #1d2e5b;
}
