.continents__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: rgba(25, 33, 68, 0.3);
  text-transform: uppercase;

  &--active {
    color: #192144;
  }
}
