.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__phone,
.contacts__email {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #192144;
}

.contacts__phone--registration {
  color: #ffd74b;
}

.contacts__email--registration {
  color: #ffd74b;
}
