.countries-filter {
  margin-top: -30px;

  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;

  &--active-form {
    position: absolute;
    top: 29px;
    z-index: 2;

    display: none;
    width: 100%;
    padding-bottom: 0;

    background-color: #ffffff;
    border: 1px solid #cbced9;
    border-radius: 10px;
  }

  &--open .countries-filter__wrapper {
    display: block;
  }

  &--open .countries-filter__toggle-close {
    display: block;
  }

  &--open .countries-filter__toggle-open {
    display: none;
  }
}

.countries-filter__container {
  position: relative;

  max-width: 320px;
  margin: 0 auto;
  padding-top: 47px;
  padding-left: 50px;
  padding-right: 50px;
}

.countries-filter__heading-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -25px;
  margin-right: -22px;
  padding-bottom: 13px;
}

.countries-filter__icon {
  margin-right: 12px;
}

.countries-filter__heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 26px;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #192144;
  text-transform: uppercase;

  &--form {
    margin: 0;
    padding-left: 13px;
    padding-top: 8px;
    padding-bottom: 6px;

    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    font-family: @site-font-family;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #1d2e5b;
  }
}

.countries-filter__letters {
  margin-bottom: 12px;

  &--form {
    margin-left: 0;
  }
}

.countries-filter__countries {
  margin-bottom: 28px;
  margin-left: 1px;

  &--form {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.countries-filter__btn {
  margin-left: -25px;
  padding-top: 7px;
  padding-bottom: 4px;
  width: 270px;

  font-weight: 600;
  font-size: 16.5px;
  line-height: 29.5px;
  font-family: @site-font-family;
  color: #161c35;
  text-transform: uppercase;

  background-color: #d6daed;
  border-radius: 20px;
  border: none;
}

.countries-filter__btn svg {
  margin-right: 8px;

  fill: #192144;
}

.countries-filter__toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  margin-top: -5px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.countries-filter__toggle-close {
  display: none;
}

.countries-filter__toggle-open {
  margin-top: 1px;
  margin-left: 1px;
}

.countries-filter__toggle-close,
.countries-filter__toggle-open {
  fill: #192144;
}

.countries-filter__toggle-text {
  display: none;
}

.countries-filter__countries-wrapper {
  display: flex;
  flex-direction: column;
}

.countries-filter__continents-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.countries-filter__wrapper {
  display: none;
  position: absolute;
  z-index: 1;

  margin-top: -15px;
  margin-left: -50px;
  padding-top: 32px;
  padding-left: 50px;
  padding-right: 24px;
  padding-bottom: 27px;

  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;
}

@media (min-width: @tablet-width) {
  .countries-filter__heading {
    display: none;

    &--form {
      display: block;
      width: 369px;
    }
  }

  .countries-filter__btn {
    width: 100%;
    margin-left: 0;
    padding-top: 37px;
    padding-bottom: 34px;

    font-size: 20px;
    line-height: 30px;
  }

  .countries-filter__container {
    max-width: 768px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 80px;
  }

  .countries-filter__toggle {
    padding-right: 62px;
  }

  .countries-filter__toggle-text {
    display: block;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    font-family: @site-font-family;
    color: #192144;
    text-transform: uppercase;
  }

  .countries-filter__countries-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .countries-filter__countries {
    &--form {
      margin-top: 37px;
      margin-left: 93px;
    }
  }

  .countries-filter__wrapper {
    &--form {
      display: flex;
      box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
    }
  }

  .countries-filter {
    &--active-form {
      top: 31px;

      width: 575px;
      border: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .countries-filter {
    background-color: #edeff6;

    &--active-form {
      background-color: #ffffff;
    }
  }

  .countries-filter__wrapper {
    margin-top: 70px;

    &--form {
      width: 730px;
      margin-top: 0;

      background-color: #ffffff;
    }
  }

  .countries-filter__container {
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
  }

  .countries-filter__heading {
    display: block;
    width: 730px;
    padding-left: 64px;

    font-size: 20px;
    line-height: 24px;
  }

  .countries-filter__countries {
    display: none;

    &--form {
      display: block;
    }
  }

  .countries-filter__continents-wrapper {
    position: absolute;
    top: 107px;
    left: 405px;

    width: 909px;
  }
}
