.directions {
  padding-top: 102px;
  padding-bottom: 30px;

  background-color: #edeff6;

  border-radius: 0 0 30px 30px;
}

.directions__container {
  position: relative;

  max-width: 320px;
  margin: 0 auto;
}

.directions__heading {
  padding-left: 50px;

  .homepage-heading();
}

.directions__text {
  margin-top: 19px;
  margin-bottom: 60px;
  padding-left: 50px;
  padding-right: 76px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #444444;
}

.directions__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directions__btn {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-top: -2px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 23px;
  padding-bottom: 21px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #1d2e5b;

  background-color: #ffd74b;
  border-radius: 10px;
  border: none;
}

.directions__btn-arrow {
  margin-top: 1px;
  margin-right: -1px;

  fill: #1d2e5b;
}

@media (min-width: @tablet-width) {
  .directions__container {
    max-width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .directions__heading {
    padding: 0;
  }

  .directions__text {
    padding: 0;
  }

  .directions__btn {
    margin-left: 0;
    margin-right: 0;
  }

  .directions__heading-wrapper {
    max-width: 337px;
  }
}

@media (min-width: @desktop-width) {
  .directions__container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    padding-left: 132px;
    padding-right: 132px;
  }

  .directions__heading-wrapper {
    width: 30%;
    order: 2;
  }

  .directions__btn {
    position: absolute;
    bottom: 139px;
    right: 202px;
    width: 274px;
  }
}
