.directions {
  padding-top: 132px;
  padding-bottom: 30px;

  background-color: #edeff6;

  border-radius: 0 0 30px 30px;
}

.directions__heading {
  padding-left: 50px;

  .hompage-heading();
}

.directions__text {
  padding-left: 50px;
  padding-right: 76px;
  margin-bottom: 40px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #444444;
}

.directions__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directions__btn {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #1d2e5b;

  background-color: #ffd74b;

}
