.item-category__label {
  position: relative;

  padding-left: 18px;

  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  font-family: @site-font-family;
  color: #444444;
}

.item-category__input {
  position: absolute;
  appearance: none;
}

.item-category--transport {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32.4px;
  height: 32px;

  background-color: #ffffff;
  border-radius: 50%;
}

.item-category--transport svg {
  margin-left: -1px;
  margin-top: -1px;

  fill: #1d2e5b;
  opacity: 0.15;
}


@media (min-width: @tablet-width) {
  .item-category {
    width: 113px;

    &--transport {
      width: auto;
    }
  }
}
