.item-transport {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;

  background-color: #ffffff;
  border-radius: 50%;

  &--plane svg {
    margin-left: -3px;
  }

  &--legs svg {
    margin-left: -2px;
  }
}

