.item-plans {
  margin-bottom: 10px;
  padding: 25px;
  padding-top: 8px;
  padding-left: 24px;
  padding-bottom: 21px;

  background-color: #ffffff;
  border-radius: 10px;
}

.item-plans__heading {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  font-family: @site-font-family;
  color: #1d2e5b;
}

.item-plans__heading-num {
  font-weight: 500;
}

.item-plans__companions,
.item-plans__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.4px;
  font-family: @site-font-family;
  color: #1d2e5b;
  text-transform: uppercase;
}

.item-plans__date {
  margin-top: 0;
  margin-bottom: 22px;
}

.item-plans__companions {
  margin-bottom: 5px;
}

.item-plans__change {
  margin-left: 1px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  font-family: @site-font-family;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .item-plans {
    padding-left: 36px;
    padding-right: 28px;
    padding-bottom: 16px;
  }

  .item-plans__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;

    font-size: 24px;
    line-height: 50px;
  }

  .item-plans__heading-num {
    order: 2;

    margin-top: 2px;

    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .item-plans__wrapper {
    position: relative;

    display: flex;
    justify-content: flex-start;
    margin-top: 41px;
    margin-left: -3px;
  }

  .item-plans__wrapper::before {
    content: "";

    position: absolute;
    top: -21px;
    left: -33px;

    display: block;
    width: 619px;
    height: 1px;

    background-color: #eff0f4;
  }

  .item-plans__companions {
    margin: 0;
    margin-right: 44px;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .item-plans__date {
    position: absolute;
    left: 185px;

    margin: 0;
    margin-right: 79px;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .item-plans__change {
    position: absolute;
    right: 5px;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }
}

@media (min-width: @desktop-width) {
  .item-plans {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-plans__wrapper {
    width: 590px;
    margin-top: 0;
  }

  .item-plans__heading-num {
    order: 0;
    margin-right: 45px;
  }
}
