.letters {
  border: 1px solid #cbced9;
  border-spacing: 0;
}

.letters__cell {
  min-width: 45px;
  max-width: 45px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #1d2e5b;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #cbced9;

  &--active {
    color: #ffffff;

    background-color: #1d2e5b;
    border: none;
  }
}
