.main-nav {
  /* Я ж могу так делать в нашем курсе? Смысл в том, чтобы
     показывать список с кнопкой только когда у .main-nav
     есть модификатор --open */
  &--open .user-list {
    display: flex;
  }

  &--open .main-nav__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.main-nav__toggle {
  position: relative;
  z-index: 10;

  width: 25px;
  height: 11px;

  background-color: #161c36;
  background-image: url("../img/menu-white.svg");
  background-size: cover;

  border: none;
}

.main-nav__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;

  display: none;
  width: 100%;
  height: 100%;

  background-color: #ffffff;
}

.main-nav__list {
  margin-top: 117px;
  margin-bottom: 58px;
}

.main-nav__contact {
  position: absolute;
  top: 388px;
  left: 50%;

  //margin-top: 101px;
  margin-left: -73px;
}


.main-nav__socials {
  margin-top: 212px;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    position: absolute;
    left: 50%;
    margin-left: -287px;
    margin-top: 184px;
    margin-bottom: 173px;
  }

  .main-nav__contact {
    top: 550px;

    margin-left: -196px;
  }

  .main-nav__socials {
    position: absolute;
    left: 50%;

    margin-top: 783px;
    margin-left: -277px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    &--open .main-nav__wrapper {
      margin-top: -20px;
    }
  }

  .main-nav__wrapper {
    position: static;

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    background-color: transparent;
  }

  .main-nav__contact {
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }


  .main-nav__list {
    flex-wrap: wrap;
    width: 715px;
    margin: 0;
    padding-rigth: 20px;
  }
}
