.main-nav__toggle {
  width: 25px;
  height: 11px;

  background-color: #161c36;
  background-image: url("../../img/menu-white.svg");
  background-size: cover;

  border: none;
}

.main-nav__wrapper {
  display: none;

  background-color: #ffffff;
}
