.person-countries {
  display: flex;
  flex-direction: column;
}

.person-countries__item {
  display: flex;

  margin-bottom: 10px;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #1d2e5b;
  text-transform: uppercase;

  &--sri-lanka::before {
    background-image: url("../img/sri-lanka-icon.png");
    background-size: 26px 18px;
  }

  &--thailand::before {
    background-image: url("../img/thailand-icon.png");
    background-size: 26px 18px;
  }

  &--seychelles::before {
    background-image: url("../img/seychelles-icon.png");
    background-size: 26px 18px;
  }

  &--belgium::before {
    background-image: url("../img/belgium-icon.png");
    background-size: 26px 18px;
  }

  &--czech::before {
    background-image: url("../img/czech-icon.png");
    background-size: 26px 18px;
  }

  &--usa::before {
    background-image: url("../img/usa-icon.png");
    background-size: 26px 18px;
  }

  &--australia::before {
    background-image: url("../img/australia-icon.png");
    background-size: 26px 18px;
  }

  &--dominica::before {
    background-image: url("../img/dominica-icon.png");
    background-size: 26px 18px;
  }

  &--uk::before {
    background-image: url("../img/uk-icon.png");
    background-size: 26px 18px;
  }

  &--germany::before {
    background-image: url("../img/germany-icon.png");
    background-size: 26px 18px;
  }
}

.person-countries__item-img {
  width: 26px;
  height: 18px;
  margin-top: -3px;
  margin-right: 14px;

  &--sri-lanka {
    background-image: url("../img/sri-lanka-icon.png");
    background-size: 26px 18px;
  }

  &--thailand {
    background-image: url("../img/thailand-icon.png");
    background-size: 26px 18px;
  }

  &--seychelles {
    background-image: url("../img/seychelles-icon.png");
    background-size: 26px 18px;
  }

  &--belgium {
    background-image: url("../img/belgium-icon.png");
    background-size: 26px 18px;
  }

  &--czech {
    background-image: url("../img/czech-icon.png");
    background-size: 26px 18px;
  }

  &--usa {
    background-image: url("../img/usa-icon.png");
    background-size: 26px 18px;
  }

  &--australia {
    background-image: url("../img/australia-icon.png");
    background-size: 26px 18px;
  }

  &--dominica {
    background-image: url("../img/dominica-icon.png");
    background-size: 26px 18px;
  }

  &--uk {
    background-image: url("../img/uk-icon.png");
    background-size: 26px 18px;
  }

  &--germany {
    background-image: url("../img/germany-icon.png");
    background-size: 26px 18px;
  }
}

@media (min-width: @tablet-width) {
  .person-countries {
    flex-direction: row;
  }

  .person-countries__item {
    padding-left: 28px;

    font-size: 20px;
    line-height: 30px;
  }

  .person-countries__item:first-child {
    padding-left: 47px;
  }

  .person-countries__item-img {
    width: 35px;
    height: 24px;

    margin-right: 10px;
    margin-top: 0;

    background-size: 35px 24px;
  }
}

@media (min-width: @desktop-width) {
  .person-countries {
    flex-direction: column;
  }

  .person-countries__item:first-child {
    padding-left: 20px;
  }

  .person-countries__item {
    margin-bottom: 7px;
    padding-left: 20px;
  }

  .person-countries__item-img {
    margin-right: 19px;
  }
}
