.person-transport {
  display: flex;
}

.person-transport__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  background-color: #edeff6;
  border-radius: 50%;
}

.person-transport__item svg {
  margin-left: -2px;

  fill: #1d2e5b;
  opacity: 0.15;
}

.person-transport__item--active svg {
  fill: #1d2e5b;
  opacity: 1;
}

@media (min-width: @tablet-width) {
  .person-transport {
    flex-direction: column;
  }

  .person-transport__item {
    background-color: transparent;
  }

  .person-transport__item {
    &--plane svg {
      width: 19px;
      height: 21px;
    }

    &--bus svg {
      width: 17px;
      height: 21px;
      margin-right: -5px;
    }

    &--bicycle svg {
      width: 24px;
      height: 21px;
      margin-right: -5px;
      margin-top: -3px;
    }

    &--legs svg {
      width: 20px;
      height: 21px;
      margin-right: -5px;
    }
  }
}


@media (min-width: @desktop-width) {
  .person-transport {
    flex-direction: row;
  }
}
