.plan {
  position: relative;
}

.plan::after {
  content: "";

  position: absolute;
  top: 11px;
  left: -13px;

  display: block;
  width: 15px;
  height: 2px;

  background-color: #1d2e5b;
}

.plan::before {
  content: "";

  position: absolute;
  top: 11px;
  left: -13px;

  display: block;
  width: 2px;
  height: 281px;

  background-color: #1d2e5b;
}

.plan:last-child::before {
  background-color: transparent;
}

.plan__header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.plan__header::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -2px;

  display: block;
  width: 6px;
  height: 6px;

  background-color: #1d2e5b;
  border-radius: 50%;
}

.plan__header::after {
  content: "";

  position: absolute;
  top: 0;
  right: 37px;

  display: block;
  width: 47px;
  height: 36px;

  background: linear-gradient(90deg, rgba(252, 253, 253, 0) 0%, #fcfdfd 40%, #fcfdfd 100%);
}

.plan__country-name {
  margin: 0;
  margin-left: 12px;

  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #1d2e5b;
}

.plan__country-flag {
  width: 35px;
  height: 24px;
  margin-top: -1px;
  margin-right: 1px;

  background-size: 35px 24px;

  &--bosnia {
    background-image: url("../img/bosnia-icon.png");
  }

  &--czech {
    background-image: url("../img/czech-icon.png");
  }
}

.plan__text {
  width: 220px;
  height: 220px;
  margin-bottom: 19px;
  margin-left: 1px;
  padding: 9px 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #444444;

  border: 1px solid #cbced9;
  border-radius: 4px;

  resize: none;
}

.plan__text::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: @desktop-width) {
  .plan__text {
    width: 730px;
  }
}
