.plan__header {
  display: flex;
  justify-content: space-between;
}

.plan__country-name {
  max-width: 149px;
  margin: 0;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #1d2e5b;
}

.plan__text {
  width: 220px;
  height: 220px;
  margin-bottom: 18px;
  padding: 13px 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #444444;

  border: 1px solid #cbced9;
  border-radius: 4px;

  resize: none;
}

.plan__text::placeholder {
  color: rgba(68, 68, 68, 0.3);
}
