.profile-price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 12px;
}

.profile-price__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 210px;
  min-width: 200px;
  padding-bottom: 9px;

  border-bottom: 1px solid #e1e3e9;
}

.profile-price__text {
  margin: 0;
  padding-right: 20px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #444444;
}

.profile-price__value {
  margin: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #444444;
}

.profile-price__num {
  width: 34px;
  height: 34px;
  margin-top: -36px;
  padding-top: 11px;

  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  font-family: @site-font-family;
  color: #ffffff;
  text-align: center;

  border-radius: 50%;

  &--first {
    background-color: #ffa530;
  }

  &--second {
    background-color: #ffbd30;
  }

  &--third {
    background-color: #ffd74b;
  }
}

@media (min-width: @tablet-width) {
  .profile-price__wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
    width: 596px;
    margin-top: 16px;
    padding-bottom: 15px;

    order: 2;
  }

  .profile-price {
    padding-bottom: 0;
  }

  .profile-price__text {
    width: 398px;

    font-size: 28px;
    line-height: 33px;
  }

  .profile-price__value {
    display: flex;
    justify-content: flex-end;
    width: 198px;
    padding-right: 32px;

    font-size: 28px;
    line-height: 33px;
  }

  .profile-price__num {
    width: 67px;
    height: 67px;
    margin-top: 0;
    padding-top: 21px;

    font-size: 28px;
    line-height: 28px;
  }
}

@media (min-width: @desktop-width) {
  .profile-price__wrapper {
    width: 95%;
  }

  .profile-price__text {
    width: 500px;
  }
}
