.registration {
  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.registration__container {
  max-width: 320px;
  margin: 0 auto;
}

.registration__heading {
  .homepage-heading();

  padding-top: 129px;

  text-align: center;
}

.registration__text {
  padding-left: 61px;
  padding-right: 61px;
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #ffffff;
  text-align: center;
}

.registration__auth-link {
  color: #ffd74b;
  text-decoration: underline;
  text-decoration-color: rgba(255, 215, 75, 0.4);
}

.registration__form {
  text-align: center;
}

.registration__email-wrapper {
  position: relative;
}

.registration__email {
  width: 270px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  margin-bottom: 32px;

  border-radius: 10px;
  border: none;
}

.registration__email::placeholder {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  font-family: @site-font-family;
  color: rgba(68, 68, 68, 0.3);
}

.registration__btn {
  position: absolute;
  top: 0;
  right: 25px;

  width: 60px;
  height: 62px;

  background-color: #ffd74b;
}

.registration__contacts-heading {
  margin-bottom: 36px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #ffffff;
  text-align: center;
}

.registration__contacts {
  margin-left: 86px;
  padding-bottom: 45px;
}

@media (min-width: @tablet-width) {
  .registration__container {
    max-width: 768px;
  }
}
