.reviews {
  padding-left: 50px;

  background-color: #161c35;
}

.reviews__list {
  width: 155px;
}

.reviews__text {
  .remove-indentation();

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #ffffff;
}

.reviews__author {
  .remove-indentation();

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #ffffff;
}
