.reviews {
  display: flex;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 113px;
  margin-top: -90px;

  background-color: #161c35;
}

.reviews__list {
  width: 163px;
}

.reviews__text {
  .remove-indentation();

  padding-bottom: 20px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #ffffff;
}

.reviews__author {
  .remove-indentation();

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .reviews {
    justify-content: flex-end;
    padding: 0;
    margin: 0;

    background-color: transparent;
  }

  .reviews__text {
    font-size: 28px;
    line-height: 33px;
  }

  .reviews__author {
    font-size: 21px;
    line-height: 25px;
  }

  .reviews__list {
    width: 259px;
  }
}
