.selection__container {
  max-width: 270px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 22px;
  padding-right: 25px;
  padding-left: 25px;

  background-color: #ffd74b;
  border-radius: 20px;
}

.selection__heading {
  width: 118px;
  margin-top: 0;
  margin-bottom: 21px;

  font-weight: 600;
  font-size: 22.5px;
  line-height: 22.5px;
  font-family: @site-font-family;
  color: #1d2e5b;
}

.selection__form {
  border-top: 1px solid #f3c72b;
}

.selection__category-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.selection__category-heading-wrapper svg {
  margin-top: -2px;

  fill: #192144;
}

.selection__category-heading {
  margin-top: 0;
  margin-left: 1px;
  margin-bottom: 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #1d2e5b;
  text-transform: uppercase;
}

.selection__category {
  .remove-indentation();

  padding-top: 12px;
  padding-bottom: 9px;

  border-bottom: 1px solid transparent;

  &--open .selection__category-heading-wrapper svg {
    transform: rotate(180deg);
  }
}

.selection__category-wrapper {
  padding-top: 15px;
}

.selection__category .selection__category-wrapper {
  display: none;
}

.selection__category--open .selection__category-wrapper {
  display: block;
}

.selection__category-range {
  margin-top: -4px;
}

.selection__btn {
  margin-top: 16px;
  margin-left: -5px;
  padding-top: 7px;
  padding-bottom: 3px;
  width: 230px;

  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  font-family: @site-font-family;
  color: #161c35;
  text-transform: uppercase;

  background-color: #ffffff;
  border-radius: 20px;

  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);

    background-color: #f3c72b;
  }
}

@media (min-width: @tablet-width) {
  .selection__container {
    max-width: 688px;
    padding-top: 36px;
    padding-left: 34px;
    padding-right: 35px;
    padding-bottom: 38px;
  }

  .selection__category-heading-wrapper svg {
    display: none;
  }

  .selection__category .selection__category-wrapper {
    display: block;
  }

  .selection__heading {
    width: auto;
    margin-bottom: 37px;
    padding-left: 0;

    font-size: 30px;
    line-height: 30px;
  }

  .selection__form {
    position: relative;

    padding-top: 21px;
  }

  .selection__form::after {
    content: "";

    position: absolute;
    bottom: 86px;
    left: 0;

    display: block;
    width: 618px;
    height: 1px;

    background-color: #f3c72b;
  }

  .selection__category {
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-bottom: 9px;
    padding-top: 11px;

    border: none;

    &--transport {
      padding-top: 20px;
      padding-bottom: 17px;
    }
  }

  .selection__category-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  .selection__category-heading::after {
    content: ":";
  }

  .selection__category-wrapper {
    position: absolute;
    left: 127px;

    width: 491px;
  }

  .selection__category-range {
    margin-top: -22px;
  }

  .selection__btn {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 70px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 3px;

    font-size: 20px;
    line-height: 30px;

    border-radius: 25px;
  }
}


@media (min-width: @desktop-width) {
  .selection {
    max-width: 285px;
  }

  .selection__container {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 47px;
    padding-bottom: 47px;
  }

  .selection__form {
    padding-top: 19px;

    border-top: none;
  }

  .selection__heading {
    margin-bottom: 0;
    margin-left: -1px;
  }

  .selection__category-wrapper {
    position: static;

    width: auto;
    padding-top: 23px;
    padding-bottom: 8px;
  }

  .selection__category-heading-wrapper {
    width: 100%;
  }

  .selection__category-heading-wrapper svg {
    display: block;
    width: 10px;
    height: 5px;
    margin-top: -5px;
    margin-right: -1px;
  }

  .selection__category-heading {
    margin-left: -1px;
  }

  .selection__category {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;

    &--transport {
      padding-top: 11px;
    }
  }

  .selection__category .selection__category-wrapper {
    display: none;
  }

  .selection__category--open .selection__category-wrapper {
    display: block;
  }

  .selection__category-range {
    margin-top: -12px;
    margin-left: -1px;
  }

  .selection__form::after {
    display: none;
  }

  .selection__btn {
    width: 196px;
    margin-top: 35px;
    padding-right: 8px;
  }
}
