.selection__container {
  max-width: 270px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 22px;
  padding-right: 25px;
  padding-left: 25px;

  background-color: #ffd74b;
  border-radius: 20px;
}

.selection__heading {
  width: 118px;
  margin-top: 0;
  margin-bottom: 21px;

  font-weight: 600;
  font-size: 22.5px;
  line-height: 22.5px;
  font-family: @site-font-family;
  color: #1d2e5b;
}

.selection__form {
  border-top: 1px solid #f3c72b;
}

.selection__category-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selection__category-heading-wrapper svg {
  margin-top: -2px;

  fill: #192144;
}

.selection__category-heading {
  margin-top: 0;
  margin-left: 1px;
  margin-bottom: 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #1d2e5b;
  text-transform: uppercase;
}

.selection__category {
  .remove-indentation();

  padding-top: 12px;
  padding-bottom: 9px;

  border-bottom: 1px solid #f3c72b;

  &--open .selection__category-heading-wrapper svg {
    transform: rotate(180deg);
  }
}

.selection__category-wrapper {
  padding-top: 15px;
}

.selection__category .selection__category-wrapper {
  display: none;
}

.selection__category--open .selection__category-wrapper {
  display: block;
}

.selection__category-range {
  margin-top: -4px;
}

.selection__btn {
  margin-top: 16px;
  margin-left: -5px;
  padding-top: 7px;
  padding-bottom: 3px;
  width: 230px;

  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  font-family: @site-font-family;
  color: #161c35;
  text-transform: uppercase;

  background-color: #ffffff;
  border-radius: 20px;
}

@media (min-width: @tablet-width) {
  .selection__container {
    max-width: 688px;
  }

  .selection__heading {
    width: auto;

    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: @tablet-width) {
  .selection__form {
    position: relative;
  }

  .selection__category {
    display: flex;
    margin-left: 0;
  }

  .selection__category-wrapper {
    position: absolute;
    left: 161px;

    width: 475px;
  }

  .selection__heading {
    padding-left: 0;
  }

  .selection__btn {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 56px;
  }
}


@media (min-width: @desktop-width) {
  .selection {
    max-width: 285px;
  }

  .selection__container {
    padding-left: 48px;
    padding-right: 48px;
  }

  .selection__category-wrapper {
    position: static;

    width: auto;
  }

  .selection__category {
    flex-direction: column;
  }
}
