.site-header {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 27px;
  padding-bottom: 20px;

  &--catalog {
    padding-top: 19px;

    background-color: #161c36;
  }

  &--form {
    padding-top: 19px;

    background-color: #161c36;
  }
}

.site-header__logo {
  z-index: 10;
}

.site-header__user {
  position: relative;
}

@media (min-width: @tablet-width) {
  .site-header {
    align-items: center;
    padding-right: 48.3%;
    padding-left: 40px;
    padding-top: 42px;
  }

  .site-header__logo {
    width: 166px;
    height: 42px;
  }
}

@media (min-width: @desktop-width) {
  .site-header__logo {
    width: 200px;
    height: 52px;
  }
}

@media (min-width: @desktop-width) {
  .site-header {
    padding-right: 16%;
  }
}
