.site-header {
  background-color: #161c36;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 27px;
}

