.steps-marker {
  position: absolute;
  top: 39px;
  right: 42px;

  display: flex;
}

.steps-marker__item {
  width: 6px;
  height: 6px;
  margin-left: 15px;

  background-color: #808285;
  border-radius: 50%;

  &--active {
    background-color: #1d2e5b;
  }
}
