.step {
  margin-bottom: 10px;
  padding-bottom: 22px;

  background-color: #fcfdfd;
  border-radius: 10px;
}

.step__wrapper {
  padding: 25px;
}

.step__heading {
  margin-top: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  font-family: @site-font-family;
  color: #1d2e5b;
}

.step__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #444444;
}

.step__companions-heading,
.step__duration-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  font-family: @site-font-family;
  color: #1d2e5b;
  text-transform: uppercase;
}

.step__input-wrapper {
  position: relative;

  margin-bottom: 21px;
}

.step__companions-input,
.step__duration-input {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 10px;

  text-align: center;

  border: 1px solid #cbced9;
  border-radius: 4px;
}

.step__companions-dec,
.step__duration-dec {
  position: absolute;
  top: 0;
  left: 0;

  width: 42px;
  height: 43px;

  background-color: transparent;
  background-image: url("../img/qty-minus-mobile.svg");
  background-repeat: no-repeat;
  background-size: 14px 2px;
  background-position: center;
  opacity: 0.3;
  border: none;
}

.step__companions-inc,
.step__duration-inc {
  position: absolute;
  top: 0;
  right: 0;

  width: 42px;
  height: 43px;

  background-color: transparent;
  background-image: url("../img/qty-plus-mobile.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  opacity: 0.3;
  border: none;
}

.step__children-label {
  margin-bottom: 27px;

  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  font-family: @site-font-family;
  color: #444444;
}

.step__calendar {
  margin-top: 27px;
  margin-bottom: 23px;
}

.step__next {
  display: block;
  width: calc(100% - 40px);
  margin: auto;
  padding-top: 7px;
  padding-bottom: 3px;

  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  font-family: @site-font-family;
  color: #161c35;
  text-transform: uppercase;
  text-align: center;

  background-color: #ffd74b;
  border-radius: 20px;
}

.step__add-country {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  font-family: @site-font-family;
  color: #1d2e5b;
  text-transform: uppercase;
  text-align: left;

  background-color: #edeff6;
  border: none;
  border-radius: 4px;
}

.step__prev {
  display: block;
  margin-top: 19px;

  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  font-family: @site-font-family;
  color: #161c35;
  text-transform: uppercase;
  text-align: center;
}

.step__submit-btn {
  width: calc(100% - 40px);
  margin: auto;
  padding-top: 7px;
  padding-bottom: 3px;

  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  font-family: @site-font-family;
  color: #161c35;
  text-transform: uppercase;

  background-color: #ffd74b;
  border-radius: 20px;
}

.step__steps-markers {
  &--step2 {
    display: none;
  }

  &--step3 {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .step__wrapper {
    padding: 44px;
  }

  .step__next {
    width: 285px;
    margin-left: 44px;
    margin-right: 107px;
    padding-top: 27px;
    padding-bottom: 23px;
  }

  .step__prev {
    margin-top: 0;
  }

  .step__add-country {
    width: 369px;
  }

  .step__btn-wrapper {
    display: flex;
    align-items: center;
  }

  .step__submit-btn {
    width: 285px;
    margin-left: 44px;
    margin-right: 107px;
    padding-top: 27px;
    padding-bottom: 23px;
  }
}

@media (min-width: @desktop-width) {
  .step {
    position: relative;

    margin-bottom: 44px;
    padding-bottom: 105px;
  }

  .step__add-country {
    width: 730px;
  }

  .step__wrapper {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .step__desc {
    width: 576px;
  }

  .step__fields-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  .step__companions-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding-bottom: 14px;
  }

  .step__input-wrapper {
    margin-bottom: 0;
  }

  .step__duration-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
  }

  .step__next {
    margin-left: 160px;
  }

  .step__steps-markers {
    top: 105px;
    right: 301px;

    &--step2 {
      display: flex;
    }

    &--step3 {
      display: flex;
    }
  }

  .step__countries-to-do {
    margin-top: 82px;
  }

  .step__btn-wrapper {
    justify-content: space-between;
    margin-right: 160px;
  }

  .step__submit-btn {
    margin-left: 160px;
  }
}
