.steps {
  display: flex;
  flex-direction: column;

  background-color: #192144;
}

.steps__container {
  max-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.steps__list {
  position: relative;
  top: -80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.steps__item {
  position: relative;

  padding-left: 24px;
  padding-top: 22px;
  padding-bottom: 22px;

  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #161c35;

  border-radius: 10px;

  &--step1 {
    margin-bottom: -16px;

    background-color: #ff8d30;
  }

  &--step2 {
    margin-bottom: -16px;

    background-color: #ffa530;
  }

  &--step3 {
    margin-bottom: -16px;

    background-color: #ffbd30;
  }

  &--step4 {
    background-color: #ffd74b;
  }
}

.steps__item-text::after {
  position: absolute;
  top: 22px;
  right: 21px;
  color: #ffffff;
}

.steps__item-text--step1::after {
  content: "1";
}

.steps__item-text--step2::after {
  content: "2";
}

.steps__item-text--step3::after {
  content: "3";
}

.steps__item-text--step4::after {
  content: "4";
}

.steps__item-text {
  max-width: 149px;

  &--step1,
  &--step2,
  &--step3 {
    padding-bottom: 16px;
  }
}

@media (min-width: @tablet-width) {
  .steps__container {
    max-width: 768px;
    width: 768px;
  }

  .steps__item {
    margin-bottom: 0;
    padding-left: 33px;
    padding-top: 31px;

    font-size: 24px;
    line-height: 24px;

    &--step1 {
      width: 369px;

      border-radius: 20px 0 0 0;
    }

    &--step2 {
      width: 344px;
      margin-left: -25px;

      border-radius: 20px 20px 0 0;
    }

    &--step3 {
      width: 369px;

      border-radius: 0 0 0 20px;
    }

    &--step4 {
      width: 344px;
      margin-left: -25px;

      border-radius: 0 0 20px 20px;
    }
  }

  .steps__list {
    position: relative;
    top: -139px;

    max-width: 841px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .steps__item-text {
    max-width: 198px;

    &--step1,
    &--step2,
    &--step3 {
      padding-bottom: 39px;
    }
  }

  .steps__item-text::after {
    top: 44px;
    right: auto;
    left: 34px;

    font-size: 30px;
    line-height: 120px;
  }
}

@media (min-width: @desktop-width) {
  .steps__container {
    max-width: 1440px;
    width: 1440px;
  }

  .steps__list {
    top: -229px;
    z-index: 2;

    max-width: none;
  }

  .steps__item {
    padding-left: 30px;
    padding-top: 29px;

    &--step1 {
      width: 340px;

      border-radius: 20px 0 0 20px;
    }

    &--step2 {
      width: 370px;

      border-radius: 20px 0 0 20px;
    }

    &--step3 {
      width: 370px;
      margin-left: -25px;

      border-radius: 20px 0 0 20px;
    }

    &--step4 {
      width: 315px;

      border-radius: 20px;
    }
  }

  .steps__item-text {
    padding-bottom: 8px;
  }

  .steps__item-text::after {
    font-size: 24px;
    top: -19px;
  }

  .steps__item-text--step1::after {
    left: 268px;
  }

  .steps__item-text--step2::after {
    left: 299px;
  }

  .steps__item-text--step3::after {
    left: 300px;
  }

  .steps__item-text--step4::after {
    left: 269px;
  }
}
