.tags {
  border: 1px solid #cbced9;
  border-radius: 10px;
}

.tags__heading {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 3px;

  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #1d2e5b;
  text-transform: uppercase;
  text-align: center;
}

.tags__list {
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: @site-font-family;
  color: #444444;

  background-color: #edeff6;
  border: none;
  resize: none;
}

