.tools-list {
  display: flex;
}

.tools-list__phone {
  position: relative;

  width: 40px;
  height: 40px;

  background-color: #ff8d30;
  background-image: url("../img/topmenu-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;

  &:hover {
    background-color: #f26926;
  }

  &:active {
    background-image: unset;
  }

  &:active::after {
    content: "";

    position: absolute;

    width: 100%;
    height: 100%;

    background-image: url("../img/topmenu-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    opacity: 0.3;
  }
}

.tools-list__email {
  position: relative;

  width: 40px;
  height: 40px;

  background-color: #ffbd30;
  background-image: url("../img/topmenu-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;

  &:hover {
    background-color: #ff8d30;
  }

  &:active {
    background-image: unset;
  }

  &:active::after {
    content: "";

    position: absolute;

    width: 100%;
    height: 100%;

    background-image: url("../img/topmenu-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .tools-list {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .tools-list {
    display: flex;
  }

  .tools-list__phone {
    width: 50px;
    height: 50px;
  }

  .tools-list__email {
    width: 50px;
    height: 50px;
  }
}
