.transport {
  padding-bottom: 14px;

  border: 1px solid #cbced9;
  border-radius: 10px;
}

.transport__heading {
  padding-left: 16px;
  padding-right: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  font-family: @site-font-family;
  color: #1d2e5b;
  text-transform: uppercase;
  text-align: center;
}

.transport__list {
  display: flex;
  justify-content: center;
}
